{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poor Man's Twitter</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="{% static 'styles.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        header {
            margin-bottom: 8px;
        }

        .action-buttons, #message-list {
            margin-top: 8px;
        }
    </style>
</head>
<body>

<div class="container" id="app">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Poor Man's Twitter</a>
        </nav>
    </header>

    {% verbatim %}
    <div class="row">
        <div class="col">
            <form v-on:submit.prevent="insertTweet">
                <div class="row">
                    <div class="col-3 ">
                        <input type="text" v-model="username"
                               class="form-control" placeholder="Name">
                    </div>
                    <div class="col-9">
                        <textarea id="message" v-model="msg"
                                  class="form-control" maxlength="50" placeholder="Message..."></textarea>
                    </div>
                </div>
                <div class="row action-buttons">
                    <div class="col">
                        <button class="btn btn-success float-right"> Tweet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="message-list">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Time</th>
                <th>Message</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="tweet in tweets" v-bind:key="tweet.id">
                <td>{{ tweet.created_at }}</td>
                <td>{{ tweet.message }}</td>
                <td>{{ tweet.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endverbatim %}
</div>

<script src="{% static 'main.js' %}"></script>
</body>
</html>