{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poor Man's Twitter</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="{% static 'styles.css' %}">

    <style>
        table td {
            padding: 8px;
            border: 1px solid #ddd;
        }

        table tr {
        }
    </style>
</head>
<body>

<div class="content" id="app">
    {% verbatim %}
    <div class="">
        <h3>Poor Man's Twitter</h3>
    </div>

    <div id="tweet-form">
        <form v-on:submit.prevent="insertTweet">
            <input type="text" id="name" v-model="username">
            <textarea id="message" v-model="msg"></textarea>
            <button> Tweet </button>
        </form>
    </div>
    <div id="message-list">
        <table>
            <thead>
            <tr>
                <th>Time</th>
                <th>Message</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="tweet in tweets" v-bind:key="tweet.id">
                <td>{{ tweet.created_at }}</td>
                <td>{{ tweet.message }}</td>
                <td>{{ tweet.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endverbatim %}
</div>

<script src="{% static 'main.js' %}"></script>
</body>
</html>